# DATABASE CONFIGURATION
MONGO_URI=mongodb://localhost:27017/manager

# OWN CONFIGURATION
FRONTEND_URL=http://localhost:5173,http://localhost:5174
PORT=3000
NODE_ENV=develop
JWT_SECRET=secret
API_KEY=secret

#RUNNER CONFIGURATION
RUNNER_URL=http://localhost:5002
RUNNER_KEY=R2D2C3PO

# AUTH CONFIGURATION
AUTH_SERVICE_URL=http://localhost:3005

# WORKBENCH CONFIGURATION
WORKBENCH_FRONTEND_URL=http://localhost:8080

# Token for Intern communication between Services
INTERN_TOKEN=secret_intern_token

# IMAGE STORAGE CONFIGURATION
S3_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_BUCKET=leia-images
S3_ACCESS_KEY_ID=minio
S3_SECRET_ACCESS_KEY=minio123
S3_FORCE_PATH_STYLE=true
S3_PUBLIC_READ=true

WORKBENCH_BACKEND_URL=http://localhost:3001
